.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;

}
.analog-clock {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: url(../img/clock-bg2.jpg) no-repeat center;
    background-size: cover;
    border: 5px solid #000000;
    box-shadow: 0 0 10px 0 black;

    &:after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -8px;
        display: block;
        z-index: 10;
        border-radius: 50%;
        background: #000000;
    }

    .number {
        position: absolute;
        z-index: 10;
        height: 100%;
        left: 50%;
        margin-left: -18px;
        text-align: center;

        span {
            display: block;
            width: 36px;
            color: #000000;
            font-family: 'arial';
            font-size: 33px;
            line-height: 51px;
        }
        &.number1 {
            transform: rotate(30deg);

            span {
                transform: rotate(-30deg);
            }
        }
        &.number2 {
            transform: rotate(60deg);

            span {
                transform: rotate(-60deg);
            }
        }
        &.number3 {
            transform: rotate(90deg);

            span {
                transform: rotate(-90deg);
            }
            
        }
        &.number4 {
            transform: rotate(120deg);

            span {
                transform: rotate(-120deg);
            }
            
        }
        &.number5 {
            transform: rotate(150deg);

            span {
                transform: rotate(-150deg);
            }
            
        }
        &.number5 {
            transform: rotate(150deg);

            span {
                transform: rotate(-150deg);
            }
            
        }
        &.number6 {
            transform: rotate(180deg);

            span {
                transform: rotate(-180deg);
            }
            
        }
        &.number7 {
            transform: rotate(210deg);

            span {
                transform: rotate(-210deg);
            }
            
        }
        &.number8 {
            transform: rotate(240deg);

            span {
                transform: rotate(-240deg);
            }
            
        }
        &.number9 {
            transform: rotate(270deg);

            span {
                transform: rotate(-270deg);
            }
            
        }
        &.number10 {
            transform: rotate(300deg);

            span {
                transform: rotate(-300deg);
            }
            
        }
        &.number11 {
            transform: rotate(330deg);

            span {
                transform: rotate(-330deg);
            }
            
        }
        &.number12 {
            transform: rotate(360deg);

            span {
                transform: rotate(-360deg);
            }          
        }      
    }

    .hours, .minutes, .seconds {
        transform-origin: 50% 100%;
        background: #000000;
        position: absolute;

    }
    .hours {
        width: 10px;
        height: 22%;
        top: 27%;
        left: 50%;
        margin-left: -5px;    
    }
    .minutes {
        width: 6px;
        height: 33%;
        top: 17%;
        left: 50%;
        margin-left: -3px;
      
    }
    .seconds {
        width: 2px;
        height: 42%;
        top: 9%;
        left: 50%;
        margin-left: -1px;
      
    }
}
